
        <h4>Search by symbol to see what transactions you have made for that share! </h4>     
        <form>
            <input [(ngModel)]='searchName' name='searchName' />
            <button (click)='findSymbol()'> search </button>
            <br>
            <br>
            <table id="symbols">
            <tr>
                <th *ngFor = "let column of headers">
                    {{column}}
                </th>
            </tr>

            <tr *ngFor = "let row of symbolData">
                <td *ngFor = "let column of headers">
                    {{row[column]}}
                </td>
            </tr>
            </table> 
        </form>
        
 
  
    
        
            
            
          
        
            
                
          
            
       
      

 
  
