
          <div class="col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header">
                <span class="me-2"><i class="bi bi-currency-exchange"></i></span>
                MAKE TRANSACTION
              </div>
              <div class="card-body">
                <h4> Buy Stock</h4>
                <form>
                    <input [(ngModel)]='para.code' name='code' placeholder='Stock symbol'/>
                    <input [(ngModel)]='para.volume' name='volume'/>
                    <button (click)='clickBuyStock()'> Buy </button>
                </form>
                <br>
                <p>{{buyMsg}}</p>
                <br>
                <h4> Sell Stock</h4>
                <form>
                    <input [(ngModel)]='paraSell.code' name='code' placeholder='Stock symbol'/>
                    <input [(ngModel)]='paraSell.volume' name='volume'/>
                    <button (click)='clickSellStock()'> Sell </button>
                </form>
                <br>
                <p>{{sellMsg}}</p>
                
              </div>
            </div>
          </div>

          
