.smallText {
    font-size: 15px;
}

.card:hover {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
  }

 button:hover {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.8);
    cursor: pointer;
  }