.smallText {
    font-size: 15px;
}

.card:hover {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
  }

 button:hover {
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.8);
    cursor: pointer;
  }


  row {
    display: inline-block;
  }
  
  app-trade {
    width: 50%;
    display: inline;
  }

  .col-md-3 {
    border-radius: 2px;
  }

  .py-5 {
    padding: -20%
  }