<!-- <article>
  <button (click)='findAll()'>
    Get ALL Transactions
  </button>
  <p> {{reportData | json}} </p> 
  <h2>Search transaction by symbol</h2>
  <form>
    <input [(ngModel)]='searchName' name='searchName' />
    <button (click)='findSymbol()'> search </button>
    <p> {{singleData | json}} </p> 
  </form>
  <app-trade></app-trade>
  <app-transaction-history> </app-transaction-history> 
</article> -->

    <main class="mt-5 pt-3">
      <div class="container-fluid">
   
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-body py-5">BOOK VALUE <i class="bi bi-cash-coin"></i> <br>
                <i class="bi bi-currency-dollar">{{bookValue}}</i>
              </div>
            
            </div>
          </div>
    
          <div class="col-md-3 mb-3">
            <div class="card bg-warning text-white h-100">
              <div class="card-body py-5">MARKET VALUE <i class="bi bi-cash-coin"></i> <br>
                <i class="bi bi-currency-dollar">{{marketValue.output}}</i></div>
              
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <div class="card  bg-success text-white h-100">
              <div class="card-body py-5">TOP GAINERS <i class="bi bi-cash-coin"></i> <br>
                <ol>
                  <li class="bi smallText" *ngFor='let stock of mostGainers'>{{stock.ticker}} {{stock.changesPercentage}}%</li>
                </ol>
              </div>
          
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-danger text-white h-100">
              <div class="card-body py-5">TOP LOSERS <i class="bi bi-cash-coin"></i> <br>
                <ol>
                  <li class="bi smallText" *ngFor='let stock of mostLosers'>{{stock.ticker}} {{stock.changesPercentage}}%</li>
                </ol>
              </div>
            
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">


          <!-- TO BE REPLACED WITH COMPONENT CODE-->
            <!--<div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-cart-check"></i></span>
                TRANSACTION HISTORY
              </div>
              <div class="card-body">
                <canvas id="networthChart" width="400" height="200"></canvas>
              </div>
            </div> -->

            <app-transaction-history></app-transaction-history>



          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-cash-stack"></i></span>
                STOCK BREAKDOWN
              </div>
              <div class="card-body">
                <canvas id="donut" width="400" height="200"></canvas>
                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> Data Table
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  <app-trade></app-trade>
    <h2>Search transaction by symbol</h2>
  <form>
    <input [(ngModel)]='searchName' name='searchName' />
    <button (click)='findSymbol()'> search </button>
    <p> {{singleData | json}} </p> 
  </form>
    <app-pie-chart><app-pie-chart>

